<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1049212337740-lv1oeai7ldt4bgvejhao0r2cberkn59m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049212337740-lv1oeai7ldt4bgvejhao0r2cberkn59m</string>
	<key>API_KEY</key>
	<string>AIzaSyCYpkZKGnqC3wfu84NRUq_36pfR-Hfg9aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1049212337740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desormiere.nicolas.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1057b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1057b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049212337740:ios:8a935ded09e55de7</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-1057b.firebaseio.com</string>
</dict>
</plist>